{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %} Cat info for Catsitter! {% endblock title %}

{% block content %}

    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">

                <div class="container">
                        <div id="tabs">
                        {% if pet %}
                            <ul> Data about : {{pet.name}}</ul>
                            <br>
                        {% endif %}

                        <div id="tabs-1">
                        {% if healthbook %}
                            {% for book in healthbook %}

                                <ul><b>HEALTHBOOK :</b></ul>

                                    <ul>Sterilize : {{book.sterilize}}</ul>
                                    <ul>Vaccinated : {{book.vaccine}}</ul>
                                    <ul>Last vaccine : {{book.last_vaccine}}</ul>
                                    <ul>Next vaccine :  {{book.next_vaccine}}</ul>
                                    <ul>Vet's name : {{book.veterinary_name}}</ul>
                                    <ul>Vet's phone : {{book.veterinary_phone}}<uli>

                            {% endfor %}
                        {% endif %}
                        </div>

                        {% if schedule %}
                        </br>
                        <ul><b> TASKS </b></ul>
                            {% for t in schedule %}
                                <tr>
                                    <ul>Task : {{t.task.description}} at <b>{{t.time}}</b></ul>
                                </tr>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
