{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %} Catsitter List {% endblock title %}


{% block content %}

<section class="page-section bg-secondary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">

            <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                <a class="button-custom" href="#"><i class="far fa-edit"></i> Edit Catsitter list</a>
                  <a class="button-custom" href="{% url 'friends:catsitter_create' %}"><i class="far fa-edit"></i> Schedule a Catsitter</a>
                    <hr>

                  <div class="container">
                    <div class="row">
                    {% comment %} {% if catsitters %} {% endcomment %}
                      {% for catsitter in catsitters %}
                        <div class="col-lg-6 col-sm-6 mb-4">
                          <div class="card h-100 pl-4 pr-4 bg-primary text-center pt-4">
                          <div class="p-1 radius-15">
                            <img src="{{catsitter.is_catsitter.avatar.url}}" width="120" height="120" class="rounded-circle shadow p-1 bg-white justify-content-center" alt="">
                              <div class="card-body text-center">
                                  <h5 class="mb-0 mt-5 text-white">Catsitter : {{catsitter.is_catsitter.username}}</h5>
                                  <p class="mb-0 mt-5 text-white">Owner : {{catsitter.is_owned}}</p>
                                  <p class="mb-0 mt-5 text-white">Starts : {{catsitter.start}}</p>
                                  <p class="mb-0 mt-5 text-white">Ends : {{catsitter.end}}</p>
                                  <p class="mb-0 mt-5 text-white">For : {{catsitter.pet}}</p>
                                  <p class="mb-0 mt-5 text-white">Status : {{catsitter.is_active}}</p>
                                  <br/>

                                  <a class="button-custom bg-info" href="{% url 'friends:catsitter_get_cat_info' catsitter.pet.id %}">{{catsitter.pet}}'s suitcase</a>

                                  {% comment %} <form method="post" href="{% url 'friends:delete_catsitter_request' %}">
                                      {% csrf_token %}
                                      <button class="btn btn-secondary bg-danger" type="submit" id="user" name="user" value="{{request.user.id}}">CANCEL</button>
                                      <input type="hidden" id="to_delete_user" name="to_delete_catsitter" value="{{catsitter.is_catsitter.id}}"/>
                                  </form> {% endcomment %}
                                </h5>
                              </div>
                            </div>
                          </div>
                          </div>
                    {% empty %}
                    <div class="col-lg-8 align-self-baseline">
                      <h1> No catsitting were scheduled yet </h1>
                    </div>
                    {% endfor %}

              </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

