
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

.env
db.sqlite3
.vscode/
.coverage.*
*.log

db.sqlite3
db.sqlite3-journal
.coverage
.coverage
.coverage.*
staticfiles/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/