{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Task detail! {% endblock title %}


{% block content %}


    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href='{% url "messenger:message_list"%}'>Go back</a>
                    <hr>

                        <h1>Sender : {{message.sender}}</h1>
                        <h1>receiver : {{message.receiver}}</h1>
                        <h3>Subject : {{message.subject}}</h3>
                        <p> {{ message.content }} </p>

                    <a href="{% url 'messenger:message_reply' message.id%}">Reply</a>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}
