{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %} Task detail! {% endblock title %}


{% block content %}


    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'messenger:message_list' %}">Go back</a>
                    <br/><br/>
                    <h1>Create a Message</h1>
                    <hr>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="Submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}



