{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %} Create your pet! {% endblock title %}


{% block content %}

    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                    <a class="button-custom" href="{% url 'animals:see_pet' %}">See pets</a>
                    <hr>
                    <h1>Create your pet </h1>
                    <form method="post" action="{% url 'animals:create_pet' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Save"/>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}


