{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Your pets ! {% endblock title %}


{% block content %}


    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom"  href="{% url 'animals:home' %}">Go back</a>
                    <hr>

                        <h1>Here are your pets</h1>

                        {% for pet in user_pets %}
                        <div class="profile-box2">
                            <div class="avatar-profile"><img src="{% static 'assets' %}/{{pet.avatar.url}}" width=200 height/></div>
                            <div class="user-profile-information">
                                <div> {{pet.name|capfirst}}</div>
                                <div> Age : {{pet.age}}</div>
                                <div> Weight : {{pet.weight}}</div>
                                <br/>
                                <br/>
                                <a class="button-custom bg-info"  href="{% url 'animals:update_pet' pet.id %}"><i class="far fa-edit"></i> Update {{pet.name|capfirst}}</a></li>
                                <a class="button-custom bg-danger"  href="{% url 'animals:delete_pet' pet.id %}"><i class="far fa-trash-alt"></i> Delete {{pet.name|capfirst}}</a></li>
                            </div>
                            </div>

                        {% empty %}
                        <p> It seems like you dont have any pets yet</p>
                        <a href="{% url 'animals:create_pet' %}"> Add a pet </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}






