<div class="dropdown">

    <span> Notifications : {{ notifications.count }} </span>

    <div class="dropdown-menu">
        {% for notification in notifications %}
            {% if notification.friend_request %}

                {% if notification.notification_type == 1 %}
                    
                    <div class="dropdown-item-parent">
                        <a href="{% url 'animals:friend_request_notification' notification.pk notification.friend_request.pk %}"> You got a friend request from {{notification.from_user}}</a>
                        <span class="dropdown" close>&times </span>
                    </div>

                {% elif notification.notification_type == 2 %}
                                
                    <div class="dropdown-item-parent">
                        <a href="{% url 'animals:message_notification' notification.pk notification.message.pk %}">> You got a message from {{notification.from_user}}</a>
                        <span class="dropdown" close>&times </span>
                    </div>

                {% endif %}

            {% elif notification.message %}

                {% if notification.notification_type == 2 %}

                <div class="dropdown-item-parent">
                    <a href="{% url 'animals:message_notification' notification.pk notification.message.pk %}"> You got a message from {{notification.from_user}}</a>
                    <span class="dropdown" close>&times </span>
                </div>

                {% endif %}

            {% endif %}
        {% endfor %}

    </div>
</div>