{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Profile {% endblock title %}


{% block content %}

    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <hr>
                    <h1> Your Profile </h1>
                        <div class="profile-box2">

                            {% if user.avatar.url %}
                            <div class="avatar-profile"><img src="{{ user.avatar.url }}" width=200 height=200/></div>
                            {% else %}
                            <div class="avatar-profile"><img src="{% static 'dist/assets/img/avatar_profile.jpg' %}"
                            width=200 height=200/></div>
                            {% endif %}

                            <div class="user-profile-information">
                                <div> Username: {{ user.username }}</div>
                                <div> Name: {{ user.get_full_name }}</div>
                                <div> Role: {{ user.role }}</div>
                                <div> Hosting capacity : {{ user.host_capacity }}</div>
                                <div> Location : {{ user.location }}</div>
                                <div> Postal Code : {{ user.postal_code }}</div>
                            </div>

                        </div>
                    {% if user.is_authenticated %}
                    <div> <a href = "{% url 'users:edit_profile' %}"><i class="far fa-edit"></i> Edit Profile</a></div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock content %}







{% comment %} {% for friend in user.friends.all %}
<div> Friends : {{ friend.username }}</div>
{%empty%}
    <div> <a href="{% url 'friends:search_for_friends' %}">Create yourself a network</a></div>
{% endfor %} {% endcomment %}



