{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Profile {% endblock title %}


{% block content %}

    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'home' %}">Go back</a>
                    <hr>
                    <h1> Your Profile </h1>
                    <h2>{{ user.get_full_name }}</h2>

                        <ul>
                            <li> Avatar: <img src="{% static 'dist/assets/img' %}/{{user.avatar}}"/></li>
                            <li> Username: {{ user.username }}</li>
                            <li> Role: {{ user.role }}</li>
                            <li> Hosting capacity : {{ user.host_capacity }}</li>
                            <li> Location : {{ user.location }}</li>
                            <li> Postal Code : {{ user.postal_code }}</li>
                            <li> Friends  : {{ user.friends.all }}</li>

                            {% for friend in user.friends.al %}
                            <li> Friends  : {{ friend.username }}</li>
                            {%empty%}
                                <p> <a href="{% url 'friends:search_for_friends' %}">Create yourself a network </p>
                            {% endfor %}
                        </ul>
                    <div> <a href = "{% url 'users:edit_profile' %}">Edit Profile</a></div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}



