{% load static %}

<div> <a href = "{% url 'home' %}">Go back</a> </div>

<hr>

<h1> Your Profile </h1>
<h2>{{ user.get_full_name }}</h2>

    <ul>
        <li> Avatar: <img src="{% static 'img' %}/{{user.avatar}}"/></li>
        <li> Username: {{ user.username }}</li>
        <li> Role: {{ user.role }}</li>
        <li> Hosting capacity : {{ user.host_capacity }}</li>
        <li> Location : {{ user.location }}</li>
        <li> Postal Code : {{ user.postal_code }}</li>
        <li> Friends  : {{ user.friends.all }}</li>
    </ul>

    <div> <a href = "{% url 'users:edit_profile' %}"> Edit Profile</a></div>