{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Medication List! {% endblock title %}


{% block content %}


    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                    <a class="button-custom" href="{% url 'healthbook:medication_create' %}">Create Medication <i class="fas fa-prescription-bottle-alt"></i></a>
                    <br/>
                    <br/>
                    <h1> Your pet's medication <i class="fas fa-prescription-bottle-alt"></i></h1>
                    <hr>

                    {% for treatment in medication %}
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="card mb-4 bg-primary">
                            <div class="card-body">
                                <h5 class="card-title">{{ treatment.pet|capfirst }}'s Medication</h5>
                                <p> Medication name : {{ treatment.med_name }} </p>
                                <p> Medication start : {{ treatment.med_start }} </p>
                                <p> Medication End : {{ treatment.med_end }} </p>
                                <p> Time of day : {{ treatment.time }} </p>
                                <p> Dosage : {{ treatment.dosage }} </p>
                                <a class="btn btn-secondary mb-2"  href="{% url 'healthbook:medication_update' treatment.id %}"><i class="far fa-edit"></i> Update medication treatment</a>
                                <a class="btn btn-secondary bg-danger" href="{% url 'healthbook:medication_delete' treatment.id %}"><i class="far fa-trash-alt"></i> Delete medication treatment</a>
                            </div>
                            </div>
                        </div>
                    </div>

                    {% empty %}
                    <p> You have no data about the medication for your pet </p>
                    <br/>
                    <p><a class="button-custom" href="{% url 'healthbook:medication_create' %}">Add medication for your pet <i class="fas fa-plus-square"></i> </a></p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock content %}


