{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %} Cat info for Catsitter! {% endblock title %}

{% block content %}

    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">

                    <div clas="container">
                        <p> Hello world, suitcase of the cat  </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
