<a href="{% url 'animals:home' %}">Go back </a>

<p> Logged in as : {{request.user}} <p>

<hr>

<h1>Delete a friend ? Beware,once you have performed this action, you won't be able to connect again with this user</h1>

{% for friend  in friends %}
<ul>
    <li> Active user : {{friend.user}} - id :{{friend.user.id}}</li>
    <li> friend name = {{friend.friend}} - To delete </li>
    <li> friend id = {{friend.friend.id}} </li>

    <form method="post" action="{% url 'friends:delete_mutual_friend' %}">
        {% csrf_token %}
        <button type="submit" id="user" name="user" value="{{friend.user.id}}">UNFRIEND</button>
        <input type="hidden" id="to_delete_user" name="to_delete_user" value="{{friend.friend.id}}"/>                
    </form>
</ul>

    {% empty %}
    <h1> sorry no friend yet in your account </h1>
    
{% endfor %}