{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Friend Request List! {% endblock title %}


{% block content %}
    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                    <hr>
                    
                    <h1> Here are your friend requests </h1>
                    
                    {% for friend_request in friend_requests %}
                    <ul>    
                        <li> Active : {{friend_request.is_active}} - timestamp : {{friend_request.timestamp}} </li>
                        <li> Sender id : {{friend_request.sender.id}} - name : {{friend_request.sender.username}}</li>
                        <li> Receiver id : {{friend_request.receiver.id}} - name : {{friend_request.receiver.username}}</li>
                        <li> {{friend_request.sender}} wants to add you</li>
                        <li> {{friend_request.id}} = FR ID</li>
                        <li><a href="{% url 'friends:see_friend_request_detail' friend_request.id %}">Detail</a></li>

                        <li><a class="btn bg-danger" href="{% url 'friends:decline_friend_request' friend_request.id %}">Decline</a></li>


                        <form method="post" action="{% url 'friends:accept_friend_request' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button class="btn btn-secondary" type="submit" id="from_user" name="from_user" value="{{friend_request.sender.id}}">Accept friend</button>
                            <input type="hidden" id="to_user" name="to_user" value="{{friend_request.receiver.id}}"/>                
                        </form>

                    </ul>

                        {% empty %}
                        <h1> Sorry, you have no friend request yet </h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}



