{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Friend List! {% endblock title %}


{% block content %}

<section class="page-section bg-secondary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">

            <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                <a class="button-custom" href="{% url 'friends:delete_mutual_friend' %}"><i class="far fa-edit"></i> Edit friend list</a>
                    <hr>
              
                  <div class="container">
                    <div class="row">
                      {% for friend in friends %}
                        <div class="col-lg-4 col-sm-6 mb-4">
                          <div class="card h-100 pl-4 pr-4 bg-primary text-center pt-4">
                          <div class="p-1 radius-15">
                            <img src="{% static 'assets' %}/{{friend.friend.avatar.url}}" width="120" height="120" class="rounded-circle shadow p-1 bg-white justify-content-center" alt="">
                              <div class="card-body text-center">
                                  <h5 class="mb-0 mt-5 text-white">{{friend.friend}}</h5>
                                  <div>Role : {{friend.friend.role}}</div>
                                  <div>Host capacity : {{friend.friend.host_capacity}}</div>
                                </h5>
                              </div>
                            </div>
                          </div>
                          </div>

                    {% empty %}

                    <div class="col-lg-8 align-self-baseline">
                      <h1> sorry no friends yet </h1>
                    </div>
                    {% endfor %}
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}