{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Friend List! {% endblock title %}


{% block content %}
    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'animals:home' %}">Go back</a>
                    <a class="button-custom" href="{% url 'friends:delete_mutual_friend' %}">Edit list</a>
                    <hr>

                    {% for friend in friends %}

                    <div class="profile-box">

                        <div class="avatar-profile">
                                <img src="{% static 'dist/assets/img' %}/{{friend.friend.avatar}}"/>
                            </div>

                            <div class="profile-card">
                                <div> Role = {{friend.friend.role}}</div>
                                <div> friend name = {{friend.friend}}</div>
                                <div> friend id = {{friend.friend.id}}</div>
                                <div> user : {{friend.user}}</div>
                                <div> user_id : {{friend.user.id}}</div>
                                <div> friend_list id : {{friend.id}}</div>
                                <div> Hosting Capacity : {{friend.friend.host_capacity }}</div>
                            </div>

                    </div>

                    {% empty %}
                        <h1> sorry no friends yet </h1>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock content %}
