{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Schedule Detail ! {% endblock title %}


{% block content %}
    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 
                    <a class="button-custom" href="{% url 'schedules:schedule_list' %}">Go back schedule</a>
                    <hr>

                    {% for pet in schedule.pet.all %}
                        <h1> For : {{ pet }} </h1>
                    {% endfor %}

                    <h2> Description of task: {{ schedule.task.title }}</h2>
                    <h2> Description of task: {{ schedule.task.description }}</h2>
                    <h2> Moment of the day: {{ schedule.time }}</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
