<a href="{% url 'animals:home' %}">Go back</a>

{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout'%}"> Logout </a>
{% else %}
    <a href="{ url 'login' }">Login</a>

{% endif %}

<hr>

    <h2> Set your schedules - LIST VIEW </h2>

    <form method="GET" action="{% url 'schedules:schedule_search' %}" placeholder="animal">
        {% csrf_token %}
        {{form}}
        <input type='submit' value='search'>
    </form>

    <ul>
        <li><a href="{% url 'schedules:schedule_create'%}"> Create a schedule</a></li>
        <li><a href="{% url 'schedules:task_list'%}"> See list of tasks </a></li>
    </ul>



<table>
        <tr>
            <th> id </th>
            <th> WHEN </th>
            <th> TO DO </th>
            <th> FOR </th>
            <th> MORE INFO </th>
        </tr>
        
        {% for schedule in schedules %}
            <tr>
                <td> {{schedule.id}} </td>  
                <td> {{schedule.time}} </td>
                <td> {{schedule.task}} </td>

                {% for pet in schedule.cat.all %}
                    <td>  {{pet}} </td>
                {% endfor %}
        
        <td><a href="{% url 'schedules:schedule_detail' schedule.id %}">Detail</a></td>
        <td><a href="{% url 'schedules:schedule_delete' schedule.id %}">Delete</a></td>


            </tr>

        {% empty %}

            <p> No schedule in list yet </p>

            <h3>
                <a href="{% url 'schedules:task_create' %}">You need to create task to create a schedule </a>
            </h3>

        {% endfor %}

    </table>


