{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %} Delete a task! {% endblock title %}


{% block content %}
    <section class="page-section bg-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8"> 

                    <a class="button-custom" href="{% url 'schedules:task_list' %}">Go back</a>
                        <hr>
                        <h1>Delete page</h1>
                        <hr>
                        
                        <form method="post">
                            {% csrf_token %}
                            <p> Are you sure you want to delete this task ? </p>
                            <br/>
                            <p>{{task|capfirst}}</p>
                            <input type="submit" value="Delete"/>
                        </form>

                    </div>
                </div>
            </div>
        </section>
{% endblock content %}


